.HoverCard {
  position: relative;
  background: #FFF;
  opacity: 0;
  height: 100%;
  box-shadow: 1px 1px 43px -1px rgba(156,156,156,1);
  overflow: hidden;
}

.HoverCard__Img {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%; */
  height: 100%;
}

.HoverCard__Infos {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 80px;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HoverCard__InfosColors {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 20px;
}

.HoverCard__InfosColor {
  width: 9px;
  height: 9px;
  background: #000;
  border-radius: 50%;
  border: solid 1px #FFF;
  margin-right: 5px;
  opacity: 0;
  transform: translateY(20px);
}

.HoverCard__InfosColor:nth-child(2) {
  background: #363c9b;
}

.HoverCard__InfosColor:nth-child(3) {
  background: #8db1c1;
}

.HoverCard__InfosPrice {
  margin-right: 20px;
  color: #000;
  opacity: 0;
  transform: translateY(20px);
  font-size: 18px;
}
